.container{
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.Container{
    background-color: #F5FAFE;
}

.name{
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    padding-left: 25px;
}


.name>h1{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
}

.body{
    background-color: #F5FAFE;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width:450px) {
    .name{
        padding: 50px;
    }
}
